SECRET_KEY=payment-service-secret-key-change-in-production
DEBUG=True
DB_NAME=payment_db
DB_USER=YOUR_DB_PASSWORD
DB_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=YOUR_DB_PASSWORD-payment
DB_PORT=5432
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
BOOKING_SERVICE_URL=http://booking-service:8003
RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_SECRET
INTERNAL_SECRET=YOUR_INTERNAL_SECRET
JWT_SECRET=YOUR_JWT_SECRET
